body {
  background-color: #ffffff;
  color: #dcddde;
}

.chat-box {
  margin: 36px 0px 0px -36px;
  width: calc(80%);
  height: calc(100% - 13em);
  overflow-y: auto;
  position: fixed;
}

.ticket-info {
  margin: 10px 20px;
}

.message-group {
  margin: 10px 20px;
  padding: 10px 1px;
}

.header-group > .avatar img {
  position: absolute;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.header-group > .header {
  margin-left: 70px;
  padding-top: 3px;
  color: #202020;
  font-weight: 500;
  height: 1.3em;
}

.header-group > .header > .timestamp {
  color: #BEBEBE;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 0.3rem;
}

.message {
  color: #000000;
  margin-left: 70px;
  padding-right: 10px;
}

.message > .content {
  margin-top: 4px;
  font-size: 0.9375rem;
  color: #808080;
}

.divider {
  border: none;
  border-bottom: 1px solid transparent;
  margin: 20px 0px -20px;
  border-bottom-color: #000000;
}

.md > bold {
  font-weight: 700;
}

.md > underline {
  text-decoration: underline;
}

.md > strike {
  text-decoration: line-through;
}

.md > italic {
  font-style: italic;
}

code.inline {
  border: none;
  border-radius: 3px;
  font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
  font-size: 85%;
  height: auto;
  margin: -0.2em 0;
  padding: 0.2em;
  text-indent: 0;
  width: auto;
  background: #2f3136;
  line-height: 1.3;
  user-select: text;
  white-space: pre-wrap;
  word-wrap: break-word;
}