{% extends "base.html" %}

{% block content %}
<br><div class="row" style="margin-left:-5em;">
    <div class="col">
        <figure class="figure">
            <img src="{{ static_url('img/news/womans_img.jpg') }}" alt="...">
            <figcaption class="figure-caption">Typical users of this app</figcaption>
        </figure>
    </div>
    <div class="col">
        <br><h6>Nabopalasar II follows the principles of:</h6><br>
        <ul class="list-unstyled" style="margin-left:1em;">
            <li><p class="lead">Privacy</p></li>
            <li><p class="lead">Asynchronous</p></li>
            <li><p class="lead">No time</p></li>
            <li><p class="lead">No costs</p></li>
            <li><p class="lead">No priests</p></li>
            <li><p class="lead">Nabû-apla-uṣur!</p></li>
        </ul>
    </div>
</div>
<br>
<div style="margin-left:-4em;">
    <p>
        Nabopalasar II is the second more advanced version of Nabopalasar.
        Firstly, it is rewritten with Tornado, an asynchronous (not Assyrian) Python web framework.
        Secondly, there are so many overworks in it that it's scary to say.
    </p>
    <p>
        What do you really need to know about him?
        It is convenient, fast and safe. It is posted on Heroku.
        It uses some of the work of other developers (with Codepen, for example).
        It is for the <i>Sumerians</i>. And every user of ours can become a <i>Sumerian</i>! Just confirm your email!
    </p>
    <p>
        Hm... Something else?
        Oh, yes, you can read about our cookie police <a href="/legal/cookie-policy">here</a>.
        Have a good day, friend <i>Schumer</i>!
    </p>
</div>
<br><div class="row" style="margin-left:-5em;">
    <div class="col">
        <figure class="figure">
                    <img src="{{ static_url('img/news/tornado_KILLS.png') }}" alt="...">
                    <figcaption class="figure-caption">The bitter truth...</figcaption>
        </figure>
    </div>
    <div class="col">
        <ul class="list-unstyled" style="margin-left:1em;font-style:oblique;">
            <li>From sin to knight</li>
            <li>He goes to fight,</li>
            <li>A member of lost souls.</li>
            <br>
            <li>His heart, crimson like</li>
            <li>Bringing down the bridge,</li>
            <li>With eyes that look</li>
            <li>From west to east.</li>
            <br>
            <li>The weapon of time consumption</li>
            <li>Gives rise to the flag of freedom.</li>
            <li>If life was but a moment,</li>
            <li>Then we live ever growing even!</li>
            <br>
            <li style="color:gray;margin-left:11em">Yam_Yefet</li>
        </ul>
    </div>
</div><br>
{% end %}