{% extends "base.html" %}

{% block content %}
<br><img src="{{ static_url('img/news/coook.jpg') }}" alt="..." style="margin-left:-4.2em;">
<br><br><div style="max-width:1200px;margin-left:-4.2em;">
    Cookies are not as scary as the Assyrian invasion, take our word for it!<br>
    A little theory (<i>Sumerians</i> are allowed). HTTP cookies (also called web cookies, Internet cookies, browser cookies, or simply cookies) are small blocks of data created by a web server while a user is browsing a website and placed on the user's computer or other device by the user’s web browser.
    <br>Cookies are placed on the device used to access a website, and more than one cookie may be placed on a user’s device during a session. Wiki, thanks...<br>
    <br>If you read more than the first paragraph, then we assure you that we only use authentication cookies. Now about our security.
    <br>The framework on which <i>Nabopalasar II</i> is written with Tornado. Tornado supports the <b>xsrf_cookies</b> method, this is the most common solution to the cookie vulnerability problem.<br>
    <b>Everything all right</b>. Your data will not fall into the hands of intruders.<br><br><br>
</div>
{% end %}