{% extends "base.html" %}

{% block content %}
<link href="https://vjs.zencdn.net/7.14.3/video-js.css" rel="stylesheet" />
<script src="https://vjs.zencdn.net/7.14.3/video.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% raw event.html %}
<button type="button" id="useless" class="btn btn-outline-warning btn-lg" style="margin-left:7.9em;margin-bottom:2em;margin-top:-2em;width:10em;" onclick="save_changes('{{url}}');">Edit</button>
<script src="{{static_url('js/edit_event.js')}}"></script>
{% end %}