{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ static_url('css/edit_board.css') }}"/>

<h3 style="margin-top:2rem;text-align:center;">
    {{ board.title }}
    <a href="/board/{{board.title}}/flood">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-messenger" viewBox="0 0 16 16">
          <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/>
          <title>Chat room</title>
        </svg>
    </a>
</h3><br>

<!--<div class="wrap">-->
<!--<a href="#" onclick="window.location.reload();"><div class="outline"></div></a>-->
<!--</div>-->
<!--<script>-->
<!--    window.addEventListener('blur', function() {-->
<!--       window.location.reload();-->
<!--    });-->

<!--    window.addEventListener('focus',  function() {-->
<!--       window.location.reload();-->
<!--    });-->
<!--</script>-->
<form method="post">
    {% module xsrf_form_html() %}
    <div class="card border-success mb-3" style="margin-top:1rem;">
      <div class="card-body text-success">
        <h5 class="card-title">About board:</h5>
        <p class="card-text">
            <div class="form-group green-border-focus">
              <textarea class="form-control" id="about_board" name="about_board" rows="{{ len(board.about_board.split('\n')) if board.about_board else 0 }}" style="color:green;">
                  {{ board.about_board }}
              </textarea>
            </div>
        </p>
      </div>
    </div><br>

    <div class="card border-primary mb-3">
    <nav style="margin-left:1em;margin-top:1em;">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-1-tab" data-bs-toggle="tab" data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-1" aria-selected="true">Events for users</button>
        <button class="nav-link" id="nav-2-tab" data-bs-toggle="tab" data-bs-target="#nav-2" type="button" role="tab" aria-controls="nav-2" aria-selected="false">Events for teams</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" style="margin-left:2em;">
      <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav-1-tab"><br>
          {% if not board.user_events %}
              <p style="color:#777777;">You don't have any events for <b>users</b>. Create an <b>event</b> right now!</p><br>
          {% else %}
              {% for u_event in board.user_events %}
                <div class="card" style="width:45em;">
                  <div class="card-body">
                    <h5>
                        {% raw u_event.title %}
                        <a href="/board/{{board.title}}/user_event/edit/{{u_event.id}}" target="_blank" style="text-decoration:none;color:#333333;"><span class="badge rounded-pill bg-warning text-dark">Edit</span></a>&nbsp;<a href="/board/{{board.title}}/user_event/view/{{u_event.id}}" target="_blank" style="text-decoration:none;color:#333333;"><span class="badge rounded-pill bg-dark">View the answers</span></a>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p style="color:#777777;">{% raw u_event.about %}</p>
                  </div>
                </div><br>
              {% end %}
          {% end %}
          <a href="/board/{{board.title}}/user_event/new" target="_blank"><button type="button" class="btn btn-outline-primary" style="width:2.6em;height:2.6em;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                </svg>
          </button>
          </a>
      </div>

      <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav-2-tab"><br>
          {% if not board.team_events %}
              <p style="color:#777777;">You don't have any events for <b>teams</b>. Create an <b>event</b> right now!</p><br>
          {% else %}
              {% for t_event in board.team_events %}
                <div class="card" style="width:45em;">
                  <div class="card-body">
                    <h5>
                        {% raw t_event.title %}
                        <a href="/board/{{board.title}}/team_event/edit/{{t_event.id}}" target="_blank" style="text-decoration:none;color:#333333;"><span class="badge rounded-pill bg-warning text-dark">Edit</span></a>
                    </h5>
                  </div>
                  <div class="card-body">
                    <p style="color:#777777;">{% raw t_event.about %}</p>
                  </div>
                </div><br>
              {% end %}
          {% end %}
          <a href="/board/{{board.title}}/team_event/new" target="_blank"><button type="button" class="btn btn-outline-primary" style="width:2.6em;height:2.6em;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                </svg>
          </button>
          </a>
      </div>
      <br>
    </div>

    </div><br>

    {% if board.board_users %}
        <div class="card border-info mb-3" style="max-width:35em;" id="BOARD_USERS"></div>
        <script type="text/javascript">
    var current_page = 1;
    var records_per_page = 20;

    var objJson = [ {adName: `<div class="card-header" style="color:#777777"><strong>Users of this board</strong></div>`},
        {% for user in board.board_users %}
            { adName: `<div class="card-body">
            <p class="card-text">
                <input class="form-check-input" type="checkbox" name="check-box-{{user.username}}" value="" aria-label="..." checked>&nbsp;
                {% if not user.name and not user.surname %}
                    <a href="/{{user.username}}" style="color:#333333;text-decoration:none;"><b>{{user.username}}</b></a>
                {% else %}
                    <a href="/{{user.username}}" style="color:#333333;text-decoration:none;"><b>{{user.username}}</b></a>&nbsp;( {{user.name}} {{user.surname}} )
                {% end %}
        </p></div>` },
        {% end %}
    ];

    function prevPage()
    {
        if (current_page > 1) {
            current_page--;
            changePage(current_page);
        }
    }

    function nextPage()
    {
        if (current_page < numPages()) {
            current_page++;
            changePage(current_page);
        }
    }

    function changePage(page)
    {
        var btn_next = document.getElementById("btn_next");
        var btn_prev = document.getElementById("btn_prev");
        var listing_table = document.getElementById("BOARD_USERS");
        var page_span = document.getElementById("page");

        // Validate page
        if (page < 1) page = 1;
        if (page > numPages()) page = numPages();

        listing_table.innerHTML = "";

        for (var i = (page-1) * records_per_page; i < (page * records_per_page) && i < objJson.length; i++) {
            listing_table.innerHTML += objJson[i].adName;
        }
        page_span.innerHTML = page + "/" + numPages();

        if (page == 1) {
            btn_prev.style.visibility = "hidden";
        } else {
            btn_prev.style.visibility = "visible";
        }

        if (page == numPages()) {
            btn_next.style.visibility = "hidden";
        } else {
            btn_next.style.visibility = "visible";
        }
    }

    function numPages()
    {
        return Math.ceil(objJson.length / records_per_page);
    }

    window.onload = function() {
        changePage(1);
    };
    </script><br>
    {% end %}

    <div class="card border-warning mb-3" style="max-width:35em;">
      <div class="card-header" style="color:#777777"><strong>Threads of this board</strong></div>
      <div class="card-body">
        {% for thread in dict_threads.keys() %}
            <p class="card-text">
                {% if dict_threads[thread] %}
                    <!-- Checked -->
                    <input type="checkbox" class="btn-check" id="btn-check-{{thread.id}}" name="btn-check-{{thread.id}}" checked autocomplete="off">
                    <label class="btn btn-outline-primary" for="btn-check-{{thread.id}}" style="width:20em;">{{ thread.title }} {% raw thread.icon %}</label>
                {% else %}
                    <!-- Unchecked -->
                    <input type="checkbox" class="btn-check" id="btn-check-{{ thread.id }}" name="btn-check-{{thread.id}}" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btn-check-{{ thread.id }}" style="width:20em;">{{ thread.title }} {% raw thread.icon %}</label>
                {% end %}
            </p>
        {% end %}
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-warning btn-sm">Save changes</button>
    <a href="/board/{{board.title}}/view"><button type="button" class="btn btn-outline-success btn-sm">Return</button></a>
    <a href="/board/{{board.title}}/delete"><button type="button" class="btn btn-outline-danger btn-sm" style="margin-left:2em;" name="DELETE">Delete board</button></a>
    <br><br><br><br>
</form>
{% end %}