{% extends "base.html" %}

{% block content %}

<!-- Chat Style -->
<link rel="stylesheet" href="{{static_url('css/chat.css')}}"/>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>

<!-- Chat body -->
<div class="chat-box">
  {% for message in messages %}
    {% raw message["html"] %}
  {% end %}
</div>

<!-- input -->
<div id="input">
    <form action="/board/{{b.title}}/flood/new" method="post" id="messageform" style="position:absolute;bottom:0;">
            <div class="input-group mb-3">
              <input maxlength="205" class="form-control" type="text" name="body" id="message" aria-describedby="button-addon2" style="width:20em;">
              <button class="btn btn-outline-secondary" type="submit" value="{{ _('Post') }}" id="button-addon2">Post</button>
              <input type="hidden" name="next" value="{{ request.path }}">
            </div>
            {% module xsrf_form_html() %}
    </form>
</div>

<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
{% end %}
