<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#ffffff">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ static_url('import_GAMES/css/RUNNER.css') }}">
  <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url('img/package/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url('img/package/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url('img/package/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ static_url('img/package/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ static_url('img/package/safari-pinned-tab.svg') }}" color="#5bbad5">
</head>
<body>
<h2>Collect all coins!</h2><h2>Run, Schumer!</h2>
<script  src="{{ static_url('import_GAMES/js/RUNNER.js') }}"></script>
</body>
</html>