<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{ static_url('import_GAMES/css/SCROLLING.css') }}">
  <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url('img/package/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url('img/package/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url('img/package/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ static_url('img/package/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ static_url('img/package/safari-pinned-tab.svg') }}" color="#5bbad5">
</head>
<body>
<div class="headline">Scroll as fast as you can!</div>
<div class="container">
  <div class="pixels"></div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdn.rawgit.com/anomal/RainbowVis-JS/28d34555/rainbowvis.js'></script>
<script  src="{{ static_url('import_GAMES/js/SCROLLING.js') }}"></script>
</body>
</html>
