{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/team_dsc.css')}}"/>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Great Ishtar!</strong> This site enjoys not only the blessing of Marduk, but also cookies (see <a href="/legal/cookie-policy">Cookie policy</a>)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<br>
<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" style="color: #333333;" href="/"><b>News</b></a>
    <a class="flex-sm-fill text-sm-center nav-link" style="color: #333333;" href="/boards"><b>Boards</b></a>
    <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" style="color: #cccccc; background: #212529;" href="#"><b>Teams</b></a>
</nav>
<br>
<div class="card">
  <div class="card-header"><h2 class="card-title" align="center">Teams Log</h2></div>
  <div class="card-body">
      Here are <b>all the commands</b> of our Akkadian users.
    Depending on the number of members (of course, this is not the most important thing), we sorted them.
      If you suddenly feel sad, come here. Maybe there is also <i>your team</i> here.
  </div>
</div>
<p></p>
<div class="accordion accordion-flush" id="TEAMS"></div>

<script type="text/javascript">
var current_page = 1;
var records_per_page = 35;

var objJson = [
    {% for team in teams %}
        { adName: `<div class="accordion-item">
        <h2 class="accordion-header" id="HEAD{{team.title}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#P{{team.title}}" aria-expanded="true" aria-controls="P{{team.title}}">
        <strong>{{team.title}}</strong>
        </button>
        </h2>
        <div id="P{{team.title}}" class="accordion-collapse collapse" aria-labelledby="HEAD{{team.title}}">
        <div class="accordion-body">
        <seciton class="content">
        <div class="content-wrap">
        <div class="item">
        <img src="{{ static_url(f'{team.avatar[10:]}') }}" alt="avatar image" width="300" height="300">
        </div>
        <div class="cont-text">
        <h2>
        {{team.title}}</h2>
        {% set cap=get_cap(team.chief).username %}
        <p class="cap">
        Capitan<a href="/{{cap}}" style="color:#000000;text-decoration:none;">
        <b>{{cap}}</b></a></p>
        <p class="cap">Team members:</p>
        {% if team.users %}
            {% for user_ in team.users[:10] %}
            <ul class="list-unstyled">
                <li>{{user_.username}}</li>
            </ul>
        {% end %}
        {% else %}<p>There are no members yet. Do you want to be the first?</p>
        {% end %}</div>
        </div></seciton></div></div></div>` },
    {% end %}
];

function prevPage()
{
    if (current_page > 1) {
        current_page--;
        changePage(current_page);
    }
}

function nextPage()
{
    if (current_page < numPages()) {
        current_page++;
        changePage(current_page);
    }
}

function changePage(page)
{
    var btn_next = document.getElementById("btn_next");
    var btn_prev = document.getElementById("btn_prev");
    var listing_table = document.getElementById("TEAMS");
    var page_span = document.getElementById("page");

    // Validate page
    if (page < 1) page = 1;
    if (page > numPages()) page = numPages();

    listing_table.innerHTML = "";

    for (var i = (page-1) * records_per_page; i < (page * records_per_page) && i < objJson.length; i++) {
        listing_table.innerHTML += objJson[i].adName;
    }
    page_span.innerHTML = page + "/" + numPages();

    if (page == 1) {
        btn_prev.style.visibility = "hidden";
    } else {
        btn_prev.style.visibility = "visible";
    }

    if (page == numPages()) {
        btn_next.style.visibility = "hidden";
    } else {
        btn_next.style.visibility = "visible";
    }
}

function numPages()
{
    return Math.ceil(objJson.length / records_per_page);
}

window.onload = function() {
    changePage(1);
};
</script>

<nav aria-label="Navigation on pages">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" style="color: #333333;" href="javascript:prevPage()" id="btn_prev">Prev</a></li>
    <li class="page-item"><a class="page-link" style="color: #cccccc; background: #212529;"><span id="page"></span></a></li>
    <li class="page-item"><a class="page-link" style="color: #333333;" href="javascript:nextPage()" id="btn_next">Next</a></li>
  </ul>
</nav>
{% end %}